{% include 'basedash.html.twig' %}

{% block body %}
    {% include 'headerdash.html.twig' %}

    <?php
    session_start();
    if(isset($_SESSION['facebook'])) {
        $facebookUrl = $_SESSION['facebook'];
    } else {
        // Set $facebookUrl to '#' if $_SESSION['facebook'] is not set
        $facebookUrl = '#';
    }

    if(isset($_SESSION['instagram'])) {
        $instagramUrl = $_SESSION['instagram'];
    } else {
        $instagramUrl = '#';
    }

    if(isset($_SESSION['twitter'])) {
        $twitterUrl = $_SESSION['twitter'];
    } else {
        $twitterUrl = '#';
    }

    if(isset($_SESSION['linkedin'])) {
        $linkedinUrl = $_SESSION['linkedin'];
    } else {
        $linkedinUrl = '#';
    }
    ?>
    {# <body> #}

    <!-- Sales Chart Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded p-4">
            <div class="wrapper">
                <div class="left">
                    <img src=" ../lesCINSgerants/<?=$_SESSION['manager_cin_image'] ?>" alt="user" width="100">
                    <h4><?= $_SESSION['first_name']." ".$_SESSION['last_name']?></h4>
                    <p>Company'owner</p>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Information</h3>
                        <div class="info_data">
                            <div class="data">
                                <h4>Email</h4>
                                <p><?= $_SESSION["email"] ?></p>
                            </div>
                            <div class="data">
                                <h4>Phone</h4>
                                <p><?=  $_SESSION["phone_number"] ?></p>
                            </div>
                        </div>
                    </div>
                    <div class="projects">
                        <div class="projects_data">
                            <div class="data">
                                <h4>City</h4>
                                <p><?= $_SESSION["city"] ?></p>
                            </div>
                        </div>
                    </div>
                    <div class="social_media">
                        <ul>
                            <li><a href="{{ facebookUrl }}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{ twitterUrl }}"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="{{ instagramUrl }}"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="{{ linkedinUrl }}"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sales Chart End -->

    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-clock icon fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Posted Today</p>
                        <h6 class="mb-0">34</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-thumbs-up icon fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Likes</p>
                        <h6 class="mb-0">234</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-envelope icon fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Requests</p>
                        <h6 class="mb-0">74</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fas fa-eye icon fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Vues</p>
                        <h6 class="mb-0">142</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

{# </body> #}

{% include 'footerdash.html.twig' %}

{% endblock %}
