{# templates/default/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Données de la base de données</title>
</head>
<body>
    <h1>Liste des enregistrements :</h1>
   
    <ul>
      
        {{ dump(email) }}
    </ul>
</body>
</html>
