
{% include 'base.html.twig' %}

	     {% block body %}
		   {% include 'header.html.twig' %}

		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('img/slider2.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text m-5">
									<h1>Connecting talents with opportunities, bridging dreams with realities. Welcome to  <span class="khedma-word">خدمة</span>, where every service finds its match. <span>Trust!</span></h1>
									<p> </p>
									<div class="button">
										<a href="#" class="btn"onclick="openModal('worker-seeker')">Find a Worker</a>
										<a href="#" class="btn primary"onclick="openModal('job-seeker')">Find a Job</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('img/slider.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text m-5">
									<h1>Empowering connections, transforming services. Welcome to  <span class="khedma-word">خدمة</span>  Services That You Can <span>Trust!</span></h1>
									<p> </p>
									<div class="button">
										<a href="#" class="btn"onclick="openModal('worker-seeker')">Find a Worker</a>
										<a href="#" class="btn primary"onclick="openModal('job-seeker')">Find a Job</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('img/slider3.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text m-5">
									<h1>We Provide <span>Many</span> Services That You Can <span>Trust!</span></h1>
									<p></p>
									<div class="button">
										<a href="#" class="btn"onclick="openModal('worker-seeker')">Find a Worker</a>
										<a href="#" class="btn primary"onclick="openModal('job-seeker')">Find a Job</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->



		<!-- Start Schedule Area -->
		<section class="schedule mt-5 " >
			<div class="container ">
				<div class="schedule-inner" >
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="icofont-law-alt-2"></i>
									</div>
									<div class="single-content">
										<h4>Law</h4> <br>
                                        <p>
                                            The "Legal" category encompasses professionals involved in various aspects of law, including attorneys, paralegals, and legal assistants. These individuals work in diverse fields such as corporate law, criminal law, and civil litigation. They provide legal advice, draft documents, and represent clients in court. Careers in this category demand strong analytical and communication skills, as well as a deep understanding of legal principles and procedures.</p>   
			>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-engineer"></i>
									</div>
									<div class="single-content">
										<h4>Engineering</h4> <br>
										<p>
                                            The "Engineering" category comprises professionals who use science and math to design, build, and maintain various structures and systems. They work in fields like civil, mechanical, electrical, chemical, and software engineering, tackling tasks from constructing bridges to developing computer software. Engineering careers demand problem-solving abilities, creativity, and expertise in mathematics and science, driving technological advancement and innovation.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-wrench"></i>
									</div>
									<div class="single-content">
										<h4>Blue-collar </h4> <br>
										<p>The "Blue-collar" category includes jobs that involve manual labor in industries like construction, manufacturing, and skilled trades. Examples include construction workers, electricians, and mechanics. These roles are vital for infrastructure development and offer opportunities for skill development and steady employment.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->



        
		<!-- Start Schedule Area -->
		<section class="schedule mt-5">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="icofont-farmer"></i>
									</div>
									<div class="single-content">
										<h4>Agriculture</h4> <br>
										<p>
                                            The "Agriculture" category covers jobs related to farming, including planting, harvesting, and animal care. Roles include farm workers, technicians, and managers. These jobs are essential for food production and require physical stamina and farming knowledge.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<h4>Healthcare</h4> <br>
										<p>
                                            The "Healthcare" category includes professions focused on maintaining and restoring health. This encompasses doctors, nurses, therapists, and support staff who provide medical care in various specialties. Healthcare workers diagnose illnesses, treat injuries, and offer preventive care in hospitals, clinics, and other settings. Careers in healthcare demand compassion, communication skills, and specialized training.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-truck"></i>
									</div>
									<div class="single-content " >
										<h4>Trnsportation</h4> <br>
                                        <p>
                                            The "Healthcare" category includes professions focused on maintaining and restoring health. This encompasses doctors, nurses, therapists, and support staff who provide medical care in various specialties. Healthcare workers diagnose illnesses, treat injuries, and offer preventive care in hospitals, clinics, and other settings. Careers in healthcare demand compassion, communication skills, and specialized training.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->
        <!-- Start Schedule Area -->
		<section class="schedule mt-5" >
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="icofont-book-alt"></i>
									</div>
									<div class="single-content">
										<h4>adminstration</h4> <br>
										<p>
                                            The "Administration" category covers roles that support daily business operations, like administrative assistants and office managers. These professionals handle tasks such as scheduling, record-keeping, and office management, ensuring smooth business functioning.</p>
									</div>
								</div>
							</div>
						</div>
						
							
						
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->
		 {% include 'footer.html.twig' %}

        {% endblock %}