<footer class="shadow" style="background-color: rgb(238, 235, 235);">
    <div class="d-flex justify-content-between align-items-center mx-auto py-4 flex-wrap" style="width: 80%">
        <a href="{{ path('homepage') }}" class="d-flex align-items-center p-0 text-dark">
            <img alt="logo" src="{{ asset('img/khedma_logo_f-02.svg') }}" width="80px" />
            <!-- <span class="ms-4 h5 font-weight-bold">Devwares</span> -->
        </a>
        <small>&copy; © Copyright 2024 | All Rights Reserved by <a href="https://www.wpthemesgrid.com" target="_blank"><small>larma.com</small></a></small>
        <div>
            <button class="btn btn-dark btn-flat p-2">
                <i class="fab fa-facebook"></i>
            </button>
            <button class="btn btn-dark btn-flat p-2">
                <i class="fab fa-twitter"></i>
            </button>
            <button class="btn btn-dark btn-flat p-2">
                <i class="fab fa-instagram"></i>
            </button>
        </div>
    </div>
</footer>
<br>
<br>
<br>
