
{% include 'base.html.twig' %}

	     {% block body %}
		   {% include 'header.html.twig' %}


		<!-- Slider Area -->
		<section class="slider mb-5">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('img/slider2.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text m-5">
									<h1>Connecting talents with opportunities, bridging dreams with realities. Welcome to  <span class="khedma-word">خدمة</span>, where every service finds its match. <span>Trust!</span></h1>
									<p> </p>
									<div class="button">
										<a href="#" class="btn"onclick="openModal('worker-seeker')">Find a Worker</a>
										<a href="#" class="btn primary"onclick="openModal('job-seeker')">Find a Job</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('img/slider.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text m-5">
									<h1>Empowering connections, transforming services. Welcome to  <span class="khedma-word">خدمة</span>  Services That You Can <span>Trust!</span></h1>
									<p> </p>
									<div class="button">
										<a href="#" class="btn"onclick="openModal('worker-seeker')">Find a Worker</a>
										<a href="#" class="btn primary"onclick="openModal('job-seeker')">Find a Job</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('img/slider3.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text m-5">
									<h1>We Provide <span>Many</span> Services That You Can <span>Trust!</span></h1>
									<p></p>
									<div class="button">
										<a href="#" class="btn"onclick="openModal('worker-seeker')">Find a Worker</a>
										<a href="#" class="btn primary"onclick="openModal('job-seeker')">Find a Job</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule mb-5" >
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<span>Lorem Amet</span>
										<h4>Freelancers</h4>
										<p>Explore opportunities to join our vibrant community of freelancers, where you can offer your services and connect with project owners seeking your skills .</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-plugin"></i>

									</div>
									<div class="single-content">
										<span>Fusce Porttitor</span>
										<h4>Basic Jobs</h4>
										<p>Whether you're looking to join as a service provider or hire professionals for your everyday needs, our platform makes to get the job done.</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<span>Donec luctus</span>
										<h4>Projects</h4>
										<p>Join our platform to discover skilled professionals for your projects, or present your own projects and find the perfect match among our talented freelancers.</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>In our platform's embrace, dreams take flight,
								Seekers find purpose, employers delight.</h2>
							<img src="img/section-img.png" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-search-job"></i>
							</div>
							<h3>Search</h3>
							<p></p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-ui-contact-list"></i>
							</div>
							<h3>Contact</h3>
							<p></p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-ui-love-add"></i>
							</div>
							<h3>Give Your Feedback</h3>
							<p></p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->
		
		<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-user-alt-3"></i>
							<div class="content">
								<span class="counter">3468</span>
								<p>Employers</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-money-bag"></i>
							<div class="content">
								
									<span class="counter">5000</span><span>DT</span>
								
								<p>Paid Invoices</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-money"></i>
							<div class="content">
								<span class="counter">4379</span><span>DT</span>
								<p>Paid to Workers</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont-ui-rate-add"></i>
							<div class="content">
								<span><span class="counter">99</span>%</span>
								<p>Customer Satisfaction Rate</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->
		
		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Empowering Connections: Discover Our Comprehensive Services</h2>
							<img src="img/section-img.png" alt="#">
							<p></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>Who We Are</h3>
							<p> Welcome to <span class="khedma-word">خدمة</span> - your destination for seamless connections between job seekers and employers. Whether you're a professional seeking new opportunities or a company searching for top talent, our platform provides the perfect space to bridge the gap. Join us as we navigate the realms of employment together, creating pathways to success and fulfillment, no matter where you are in your journey.</p>
							<p> </p>
							
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right" >
							<div class="video-image" >
								<!-- Video Animation -->
								<div class="promo-video">
									<div class="waves-block">
										<div class="waves wave-1"></div>
										<div class="waves wave-2"></div>
										<div class="waves wave-3"></div>
									</div>
								</div>
								<!--/ End Video Animation -->
								<a href="./img/video.mp4" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->
		
		
		
		
		<!-- Start service -->
		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Welcome to our platform, where we provide a variety of services tailored to meet the needs of both job seekers and employers.</h2>
							<img src="img/section-img.png" alt="#">
							<p></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont">
								<img class="" src="./img/recruitment.png" style="width: 3rem; height: 3rem;" alt="Description">
							</i>
							
							<h4><a href="service-details.html"> Job Matching</a></h4>
							<p> </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont">
								<img class="" src="./img/freelance-work.png" style="width: 3rem; height: 3rem;" alt="Description">
							</i>
							<h4><a href="service-details.html"> Freelance Services</a></h4>
							<p> </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont">
								<img class="" src="./img/creative-thinking.png" style="width: 3rem; height: 3rem;" alt="Description">
							</i>
							<h4><a href="service-details.html">Skill Development </a></h4>
							<p> </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont">
								<img class="" src="./img/resume.png" style="width: 3rem; height: 3rem;" alt="Description">
							</i>
							<h4><a href="service-details.html">Resume Building</a></h4>
							<p></p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont">
								<img class="" src="./img/networking.png" style="width: 3rem; height: 3rem;" alt="Description">
							</i>
							<h4>
								<a href="service-details.html">Networking Events</a></h4>
							<p></p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12" >
						<!-- Start Single Service -->
						<div class="single-service" >
							<i class="icofont">
								<img class="" src="./img/need-assessment.png" style="width: 3rem; height: 3rem;" alt="Description">
							</i>
							<h4><a href="https://www.flaticon.com/free-icons/career" title="career icons">Career Counseling</a>
								<a href="service-details.html">Career Counseling</a></h4>
							<p></p>	
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->
		
		
		
		
		<!-- Start clients -->
		<div class="clients overlay mb-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="./img/client11111.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="./img/client222.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="./img/client333.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="./img/client4444.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="./img/client55.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="./img/client11111.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="./img/client222.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="./img/client333.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="./img/client4444.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/Ens clients -->


		



			   {% include 'footer.html.twig' %}

        {% endblock %}